@use "../abstracts/colors" as c;

$mobile-view: 1060px;

.accordion-item {
  padding: 12px 0 12px 0;
  border-bottom: 1px solid c.$black-theme;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-item.show {
  padding: 12px 0 12px 0;
  border-bottom: 1px solid c.$black-theme;
  color: c.$black-theme;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  cursor: pointer;
  @media (max-width: $mobile-view) {
    font-size: 18px;
  }
  h2 {
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    @media (max-width: $mobile-view) {
      font-size: 20px;
    }
  }
}

.accordion-content {
  font-size: 16px;
  line-height: 28px;
  width: 90%;
  max-height: 0;
  color: c.$black-theme;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-content.show {
  font-size: 16px;
  line-height: 28px;
  color: c.$black-theme;
  width: 90%;
  height: auto;
  max-height: 9999px;
  // background-color: c.$black-theme;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
