@use "../abstracts/colors" as c;

.cardSlider {
  h1 {
    margin-bottom: 40px;
  }
}

.cardSlider-container {
  display: flex;
  gap: 24px;

  .card-item {
    background-color: c.$bg-color;
    width: 400px;
    text-align: left;
    img {
      width: 100%;
      object-fit: contain;
    }
    h4 {
      padding: 24px 0;
      border-bottom: 1px solid black;
    }
    p {
      margin-top: 20px;
    }
  }
}
