@use "../abstracts/colors" as c;

.cardSlider-container {
  width: 100%;
}

swiper-container {
  cursor: grab;
}

// swiper-slide {
//   width: 20%;
// }

.card-item {
  text-align: left;
  max-width: 400px;
  img {
    // width: 100%;
    object-fit: contain;
  }
  h4 {
    margin: 0;
    padding: 16px 0;
    border-bottom: 1px solid black;
  }
}
