.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 620px;
  border-radius: 12px;
  &__title {
    margin-bottom: 40px;
  }
  &__body {
    width: 80%;
  }
  &__cta-btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px 32px;
  }
}
