@use "../abstracts/colors" as c;

.section-6-wrapper {
  background-color: lightblue;
  width: 100%;
}

label {
  font-size: 32px;
}

select {
  font-size: 32px;
  font-weight: bold;
  appearance: none;
  background: none;
  border: none;
  border-bottom: 1px c.$black-theme;
  padding: 0.5em 3em 1em 0.5em;
  option {
    background-color: c.$black-theme;
    color: white;
    font-size: 16px;
    padding: 12px 12px;
  }
}
