@use "../abstracts/colors" as c;

$mobile-view: 1060px;

.footer {
  background-color: c.$black-theme;
  width: 100%;
  height: 298px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  @media (max-width: $mobile-view) {
    height: 380px;
  }
  &__wrapper {
    text-align: center;
    width: 85%;
  }
}

.footerLogo {
  &--desktop {
    margin: 32px 0;
    @media (max-width: $mobile-view) {
      display: none;
    }
  }

  &--mobile {
    display: none;
    @media (max-width: $mobile-view) {
      display: inline;
      margin: 32px 0;
    }
  }
}
