@use "../abstracts/colors";

$mobile-view: 1060px;

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid colors.$black-theme;
  background-color: colors.$bg-color;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-wrapper {
  &--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    @media (max-width: $mobile-view) {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding-left: 24px;
      li {
        padding: 16px 12px;
        a {
          text-decoration: none;
          color: colors.$black-theme;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    .nav-booking {
      text-decoration: none;
      color: colors.$black-theme;
      font-size: 16px;
      font-weight: bold;
      padding: 0 24px;
    }
  }

  &--mobile {
    display: none;
    @media (max-width: $mobile-view) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 24px;
      height: 64px;
      &__navMenu {
        display: flex;
        align-items: center;
        a {
          font-weight: 700;
        }
        .hamburgerContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

          .hamburger {
            width: 24px;
            height: 24px;
            // background-color: c.$bg-color;
            color: colors.$bg-color;
            border: none;
            .hamburgerBar {
              width: 12px;
              background-color: black;
              height: 8px;
            }
          }
        }
      }
    }
  }
}
