@use "../abstracts/colors" as c;
@use "../abstracts/layout" as l;

.classic-collection-page {
  width: 100%;
  background-color: c.$bg-color;
  .classic-collection-container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.classic-introA-section {
  margin-top: l.$section-margin;
  button {
    margin-top: 40px;
  }
}

.classic-range-section {
  margin-top: l.$section-margin;
}

.classic-carousel-section {
  margin-top: l.$section-margin;
}

.classic-highlightA {
  width: 100%;
  margin-top: l.$section-margin;
  margin-bottom: 128px;
}
