@use "../abstracts/colors" as c;

$mobile-view: 1060px;

.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: c.$bg-color;
}

.homeIntroSection {
  width: 100%;
  position: relative;
  padding-top: 48px;
}

// ! Home Animated Gradient
.introGradient-container {
  z-index: -10;
  background-color: #bfcfd0;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .up {
    // z-index: 10;
    position: absolute;
    right: 200px;
    width: 1000px;
    height: 1000px;
    background-color: #dee6e7;
    border-radius: 50%;
    filter: blur(110px);
    animation: up 35s infinite;
  }
  .orbitA-container {
    animation: orbit 30s infinite;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100px;
    // border: 1px solid green;
    .orbitA {
      position: absolute;
      width: 1000px;
      height: 1000px;
      background-color: #daf3d8;
      border-radius: 50%;
      filter: blur(100px) opacity(0.7);
    }
  }
  .orbitB-container {
    animation: orbit-b 40s infinite;
    position: absolute;
    width: 110%;
    height: 110%;
    right: 200px;
    // border: 1px solid red;
    .orbitB {
      position: absolute;
      width: 1000px;
      height: 1000px;
      background-color: rgb(248, 252, 205);
      border-radius: 50%;
      filter: blur(100px) opacity(0.7);
    }
  }
  .orbitB-container {
    animation: orbit-b 40s infinite;
    position: absolute;
    width: 110%;
    height: 110%;
    right: 200px;
    // border: 1px solid red;
    .orbitB {
      position: absolute;
      width: 1000px;
      height: 1000px;
      background-color: rgb(248, 252, 205);
      border-radius: 50%;
      filter: blur(100px) opacity(0.7);
    }
  }
  .orbitC-container {
    animation: orbit-c 30s infinite;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -500px;
    right: -500px;
    // border: 1px solid red;
    .orbitC {
      position: absolute;
      width: 1000px;
      height: 1000px;
      background-color: rgb(242, 250, 233);
      border-radius: 50%;
      filter: blur(100px) opacity(0.7);
    }
  }
}

@keyframes up {
  0% {
    bottom: -300px;
  }
  50% {
    bottom: 2000px;
  }
  100% {
    bottom: -300px;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes orbit-b {
  0% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(460deg);
  }
}
@keyframes orbit-c {
  0% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(-260deg);
  }
}

.homeHeroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 80px;

  h2 {
    max-width: 1080px;
    margin: 80px 0;
  }
  p {
    max-width: 1080px;
  }
  button {
    margin: 80px 0;
  }
  img {
    display: block;
    width: 40px;
  }
}

.homeServiceSection {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 1100px;
  .homeService-cardSliderContainer {
    width: 50%;
    border-right: 1px solid black;
    // background-color: lightgreen;
  }
  .homeService-accordionContainer {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
    }
    p {
      margin: 40px 0;
      font-size: 24px;
      text-align: center;
    }
  }
}

.parallaxSection {
  background-color: c.$bg-color;
  width: 100%;
  padding: 140px 24px;
  background-color: c.$black-theme;
}

.welcomeMsg {
  max-width: 1440px;
  padding: 80px 44px;
  margin: 0 auto;
  border-radius: 38px;
  background-image: url(../Images/gradient-light.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  color: c.$bg-color;
  width: fit-content;
  margin: 12px auto;
  &::after {
    content: "";
    background-color: c.$bg-color;
    height: 2px;
    width: 100%;
  }
}

.location-info-section {
  width: 100%;
  background-color: c.$black-theme;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid red;
  text-align: center;
  padding: 74px;
  .location-info-container {
    max-width: 1020px;
    padding: 0 24px;
    .typo-h4 {
      margin-bottom: 0;
    }
  }
}
