@use "../abstracts/colors";

// Primary Button
.btn-primary {
  padding: 16px 32px;
  border: 2px solid #211f1a;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: transparent;
  color: colors.$black-theme;
  text-decoration: none;
  font-weight: 500;
  gap: 18px;
  cursor: pointer;

  &:hover {
    background: rgba(33, 31, 26, 0.5);
    color: #211f1a;
    transition: 200ms;
  }
  &:active {
    background-color: #211f1a;
    color: white;
  }
}

// Accent Button
.btn-accent {
  padding: 16px 32px;
  border: 2px solid #294c12;
  color: #294c12;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  gap: 18px;
  cursor: pointer;

  &:hover {
    background: #294c12;
    color: white;
  }
}

.btn-accent--fill {
  padding: 16px 32px;
  border: 2px solid #294c12;
  width: 300px;
  color: white;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #294c12;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: #94a689;
    color: #294c12;
    transition: 200ms;
  }
  &:active {
    background-color: transparent;
    color: #294c12;
    transition: 200ms;
  }
}

// Secondary Button
.btn-secondary {
  padding: 16px 32px;
  border: 2px solid rgba(33, 31, 26, 0.6);
  color: rgba(33, 31, 26, 0.6);
  border-radius: 8px;
  text-transform: uppercase;
  background-color: white;
  font-weight: 500;
  gap: 18px;
  cursor: pointer;

  &:hover {
    background: rgba(33, 31, 26, 0.6);
    color: white;
    transition: 200ms;
  }
}

// Negative Button
.btn-negative {
  padding: 16px 32px;
  border: 2px solid #ff2f2f;
  color: #ff2f2f;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 500;
  gap: 18px;
  cursor: pointer;

  &:hover {
    background: rgba(255, 47, 47, 0.5);
    transition: 200ms;
  }
  &:active {
    background-color: #ff2f2f;
    color: white;
    transition: 200ms;
  }
}
