@use "../abstracts/colors";

.typo-h1 {
  font-size: 52px;
  line-height: 128%;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 24px;
}

.typo-h2 {
  font-size: 36px;
  line-height: 128%;
  font-weight: 400;
}

.typo-h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 128%;
}

.typo-h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 128%;
}

.typo-b1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.typo-b2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.typo-b3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.typo-b4 {
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.289px; /* 151.031% */
}

@property --offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

.typo-link {
  font-size: 16px;
  line-height: 40px;
  color: inherit;
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: underline 0.05em;
  transition: --offset 400ms;
  cursor: pointer;
  z-index: 3;
  &:hover {
    --offset: 0.4em;
  }
}

.typo-subheading {
  color: rgba(41, 76, 18, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 25.6px */
}

.typo-subheading2 {
  color: #294c12;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
