@use "../abstracts/colors";

.typo-h1 {
  font-size: 52px;
  line-height: 128%;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 24px;
}

.typo-h2 {
  font-size: 36px;
  line-height: 128%;
  font-weight: 400;
}

.typo-h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 128%;
}

.typo-h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 128%;
}

.typo-b1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.typo-b2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}
.typo-b3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.typo-link {
  font-size: 16px;
  text-decoration: underline;
  color: colors.$black-theme;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  &::after {
    width: 0;
    height: 100%;
    background-color: #7feb38;
    filter: opacity(0.2);
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 2;
  }
  &:hover {
    &::after {
      width: 100%;
      transition: 300ms;
      z-index: 2;
    }
  }
}

.typo-subheading {
  color: rgba(41, 76, 18, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 25.6px */
}
