// Pages
@use "./pages/Home";
@use "./pages/Accommodation";
@use "./pages/EatAndDrink";
@use "./pages/SeeAndDo";
@use "./pages/ClassicCollection";
@use "./pages/DeluxeCollection";
@use "./pages/SuiteCollection";
@use "./pages/Restaurants";

// Components
@use "./components/Header";
@use "./components/Accordion";
@use "./components/CardSlider";
@use "./components/InfiniteSlider";
@use "./components/Footer";
@use "./components/GridToCarousel";
@use "./components/AccomInfoCard";
@use "./components/ChefInfoCard";
@use "./components/HeroSection";
@use "./components/HighlightA";
@use "./components/CarouselA";
@use "./components/CarouselB";
@use "./components/CarouselC";
@use "./components/RestaurantCard";
@use "./components/TileCard";
@use "./components/HomeCarousel";

// Abstracts
@use "./abstracts/colors";
@use "./abstracts/button";
@use "./abstracts/typography";

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: colors.$bg-color;
  font-family: "Poppins", sans-serif;
}
