.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-home div .large-logo {
  margin: 20px 0;
}

.large-logo-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 58;
  z-index: 999;
}

.large-logo {
  max-width: 98%;
  padding: 0 12px;
}
@media (max-width: 1060px) {
  .large-logo {
    display: none;
  }
}

.section-1 {
  border-top: 1px solid #211f1a;
  height: 1090px;
  width: 100%;
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
@media (max-width: 1060px) {
  .section-1 {
    flex-direction: column;
    height: 100%;
    border: none;
    margin-top: 0;
  }
}
.section-1 .section-1a {
  border-right: 1px solid #211f1a;
  width: 58%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1060px) {
  .section-1 .section-1a {
    width: 100%;
    justify-content: center;
    border: none;
  }
}
.section-1 .section-1a .section-1a-wrapper {
  background-image: url(../Images/home-gradient.svg);
  background-size: cover;
  background-position: top right;
  border-radius: 0 64px 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1060px) {
  .section-1 .section-1a .section-1a-wrapper {
    width: 100%;
    height: 486px;
    justify-content: center;
    border: none;
  }
}
.section-1 .section-1a .section-1a-wrapper .svgMapContainer {
  margin-right: 60px;
  border: 2px black solid;
  border-radius: 346px;
  height: 1016px;
  width: 692px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
@media (max-width: 1060px) {
  .section-1 .section-1a .section-1a-wrapper .svgMapContainer {
    margin: 60px 20px;
    height: 486px;
  }
}
.section-1 .section-1a .section-1a-wrapper .svgMapContainer .location-map {
  transform: rotate(45deg);
  -o-object-fit: contain;
     object-fit: contain;
  width: 1900px;
  position: absolute;
  left: -630px;
  top: 10px;
}
.section-1 .section-1a .section-1a-wrapper .svgMapContainer .location-map-marker {
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
}
.section-1 .section-1b {
  width: 42%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1060px) {
  .section-1 .section-1b {
    width: 100%;
    justify-content: center;
  }
}
.section-1 .section-1b .section-1b-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 60px;
  max-width: 550px;
}
@media (max-width: 1060px) {
  .section-1 .section-1b .section-1b-wrapper {
    padding: 40px 0;
  }
}
.section-1 .section-1b .section-1b-wrapper .section-1b-text {
  width: 90%;
  text-align: center;
}
.section-1 .section-1b .section-1b-wrapper .section-1b-text h2 {
  margin: 0;
  font-weight: 400;
  font-size: 28px;
}
.section-1 .section-1b .section-1b-wrapper .section-1b-text p {
  margin: 32px 0 48px 0;
  font-size: 16px;
}
@media (max-width: 1060px) {
  .section-1 .section-1b .section-1b-wrapper .small-logo-container {
    display: none;
  }
}

.section-2 {
  display: flex;
  width: 100%;
  height: 900px;
}
@media (max-width: 1060px) {
  .section-2 {
    flex-direction: column;
    height: 100%;
  }
}
.section-2 .section-2a {
  width: 58%;
  border-right: 1px solid #211f1a;
}
@media (max-width: 1060px) {
  .section-2 .section-2a {
    width: 100%;
    height: 100%;
  }
}
.section-2 .section-2a .section-2a-wrapper {
  background-color: #94a689;
  height: 100%;
  width: 100%;
  padding: 100px 0 0 24px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1060px) {
  .section-2 .section-2a .section-2a-wrapper {
    width: 100%;
    height: 100%;
    padding: 40px 0 40px 24px;
  }
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy h2 {
  margin: 0;
  font-size: 52px;
  font-weight: 400;
  width: 70%;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy p {
  margin: 32px 0;
  font-size: 24px;
  width: 70%;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy a {
  color: #211f1a;
  font-size: 14px;
}
.section-2 .section-2b {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 70px;
}
@media (max-width: 1060px) {
  .section-2 .section-2b {
    width: 100%;
    padding: 40px 0;
  }
}
.section-2 .section-2b .section-2b-wrapper {
  max-width: 540px;
  padding: 24px;
}
@media (max-width: 1060px) {
  .section-2 .section-2b .section-2b-wrapper {
    max-width: 100%;
  }
}

.gridImageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 206px;
}
.gridImageSection--desktop {
  height: 576px;
  width: 100%;
  display: flex;
}
@media (max-width: 1060px) {
  .gridImageSection--desktop {
    display: none;
  }
}
.gridImageSection--desktop .section-3a-left {
  width: 40%;
  position: relative;
}
.gridImageSection--desktop .section-3a-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.gridImageSection--desktop .section-3a-left:hover {
  transition: 2s;
}
.gridImageSection--desktop .section-3a-left:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, black);
  transition-duration: 2s;
}
.gridImageSection--desktop .section-3a-left:hover::after {
  content: "Celestial Suite - Living";
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px 24px;
  height: 36px;
  background: black;
  border-radius: 40px;
}
.gridImageSection--mobile {
  display: none;
}
@media (max-width: 1060px) {
  .gridImageSection--mobile {
    display: block;
  }
}
.gridImageSection .section-3a-right {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.gridImageSection .section-3a-right .section-3a-34 {
  display: flex;
  width: 100%;
  height: 50%;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(1) {
  width: 70%;
  position: relative;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(1) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(1):hover {
  transition: 2s;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(1):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, black);
  transition-duration: 2s;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(1):hover::after {
  content: "Celestial Deluxe - Lounge";
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px 24px;
  height: 36px;
  background: black;
  border-radius: 40px;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(2) {
  width: 30%;
  position: relative;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(2) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(2):hover {
  transition: 2s;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(2):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, black);
  transition-duration: 2s;
}
.gridImageSection .section-3a-right .section-3a-34 div:nth-child(2):hover::after {
  content: "Breakfast";
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px 24px;
  height: 36px;
  background: black;
  border-radius: 40px;
}
.gridImageSection .section-3a-right .section-3a-45 {
  display: flex;
  width: 100%;
  height: 50%;
  position: relative;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(1) {
  width: 50%;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(1) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(1):hover {
  transition: 2s;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(1):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, black);
  transition-duration: 2s;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(1):hover::after {
  content: "Celestial Suite - Bath";
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px 24px;
  height: 36px;
  background: black;
  border-radius: 40px;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(2) {
  width: 50%;
  position: relative;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(2) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(2):hover {
  transition: 2s;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(2):hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, black);
  transition-duration: 2s;
}
.gridImageSection .section-3a-right .section-3a-45 div:nth-child(2):hover::after {
  content: "Celestial Suite - Bedroom";
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px 24px;
  height: 36px;
  background: black;
  border-radius: 40px;
}
.gridImageSection__body {
  text-align: center;
  width: 70%;
}
@media (max-width: 1060px) {
  .gridImageSection__body {
    width: 100%;
    text-align: left;
    padding: 40px 24px;
  }
}
.gridImageSection__body h2 {
  font-size: 52px;
  font-weight: 400;
  margin-top: 62px;
}
.gridImageSection__body p {
  font-size: 20px;
  margin: 32px 0;
}
.gridImageSection__body a {
  margin-top: 74px;
  margin-bottom: 400px;
}
@media (max-width: 1060px) {
  .gridImageSection__body a {
    width: 100%;
    text-align: center;
  }
}

.section-4 {
  width: 100%;
}

.section-4a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 962px;
  background-color: #211f1a;
}
.section-4a .section-4a-top {
  display: flex;
  height: 50%;
}
.section-4a .section-4a-top div {
  width: 50%;
}
.section-4a .section-4a-top .s4a-top-1 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 0 0 148px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-top .s4a-top-1 p {
  width: 60%;
}
.section-4a .section-4a-top .s4a-top-1:hover {
  background: #e9f4e2;
  color: black;
  transition: 0.5s;
}
.section-4a .section-4a-top .s4a-top-2:hover {
  background: #788a6d;
  color: black;
  transition: 0.5s;
}
.section-4a .section-4a-top .s4a-top-2 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-top .s4a-top-2 p {
  width: 60%;
}
.section-4a .section-4a-bottom {
  display: flex;
  height: 50%;
}
.section-4a .section-4a-bottom div {
  width: 50%;
}
.section-4a .section-4a-bottom .s4a-bottom-1 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 0 148px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-bottom .s4a-bottom-1 p {
  width: 60%;
}
.section-4a .section-4a-bottom .s4a-bottom-2 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 148px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-bottom .s4a-bottom-2 p {
  width: 60%;
}
.section-4a .s4a-bottom-1:hover {
  background: #788a6d;
  color: black;
  transition: 1s;
}
.section-4a .s4a-bottom-2:hover {
  background: #e9f4e2;
  color: black;
  transition: 1s;
}

.section-5 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #211f1a;
  padding-top: 280px;
  padding-bottom: 320px;
  color: #fffcfa;
}
@media (max-width: 1060px) {
  .section-5 {
    padding: 40px 0;
  }
}
.section-5 .section-5-wrapper {
  max-width: 1440px;
  display: flex;
}
@media (max-width: 1060px) {
  .section-5 .section-5-wrapper {
    flex-direction: column;
  }
}
.section-5 .section-5-wrapper .section-5a {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 12px;
}
@media (max-width: 1060px) {
  .section-5 .section-5-wrapper .section-5a {
    width: 100%;
  }
}
.section-5 .section-5-wrapper .section-5a h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fffcfa;
}
.section-5 .section-5-wrapper .section-5a p {
  margin-top: 0;
  width: 90%;
}
.section-5 .section-5-wrapper .section-5a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.section-5 .section-5-wrapper .section-5a a {
  color: #fffcfa;
  font-size: 12px;
  margin-top: 20px;
}
.section-5 .section-5-wrapper .section-5b {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 34%;
  padding: 12px;
}
@media (max-width: 1060px) {
  .section-5 .section-5-wrapper .section-5b {
    width: 100%;
  }
}
.section-5 .section-5-wrapper .section-5b h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fffcfa;
}
.section-5 .section-5-wrapper .section-5b p {
  margin-top: 0;
  width: 90%;
}
.section-5 .section-5-wrapper .section-5b img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.section-5 .section-5-wrapper .section-5b a {
  color: #fffcfa;
  font-size: 12px;
  margin-top: 20px;
}
.section-5 .section-5-wrapper .section-5c {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 12px;
}
@media (max-width: 1060px) {
  .section-5 .section-5-wrapper .section-5c {
    width: 100%;
  }
}
.section-5 .section-5-wrapper .section-5c h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fffcfa;
}
.section-5 .section-5-wrapper .section-5c p {
  margin-top: 0;
  width: 90%;
}
.section-5 .section-5-wrapper .section-5c img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.section-5 .section-5-wrapper .section-5c a {
  color: #fffcfa;
  font-size: 12px;
  margin-top: 20px;
}

.cardSliderSection {
  border-top: 1px solid #211f1a;
  width: 100%;
  height: 980px;
  color: #fffcfa;
  text-align: center;
  background-image: url(./../Images/card-slider-section-background.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardSliderSection__heading {
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 0;
}
.cardSliderSection__body {
  font-size: 20px;
  margin-bottom: 60px;
}
.cardSliderSection__module {
  width: 100%;
}

.howToGetHereSection {
  text-align: center;
  height: 800px;
  display: flex;
  align-items: center;
  border-top: 1px solid #211f1a;
}
@media (max-width: 1060px) {
  .howToGetHereSection {
    flex-direction: column;
    height: 100%;
  }
}
.howToGetHereSection__googleMap {
  height: 100%;
  width: 50%;
  background-color: #788a6d;
  overflow: hidden;
  display: flex;
  align-items: center;
  filter: grayscale(100%);
}
@media (max-width: 1060px) {
  .howToGetHereSection__googleMap {
    width: 100%;
    height: 650px;
  }
}
.howToGetHereSection__mapDetails {
  position: absolute;
  bottom: 28px;
  left: calc(50% - 212px);
  background-color: #211f1a;
  border-radius: 20px;
  padding: 24px 40px 24px 24px;
  color: white;
  text-align: left;
}
@media (max-width: 1060px) {
  .howToGetHereSection__mapDetails {
    width: 70%;
    left: 15%;
  }
}
.howToGetHereSection__mapDetails P {
  margin: 6px 0;
  font-weight: 300;
}
.howToGetHereSection__mapDetails .title {
  font-size: 20px;
  font-weight: 400;
}
.howToGetHereSection__body {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 48px;
  border-left: solid 1px #211f1a;
}
@media (max-width: 1060px) {
  .howToGetHereSection__body {
    border: none;
    width: 100%;
    text-align: left;
    padding: 40px 24px;
  }
}
.howToGetHereSection__body h1 {
  font-size: 52px;
  font-weight: 400;
  margin-top: 0;
}
.howToGetHereSection__body h3 {
  font-size: 20px;
  margin: 32px 0 8px;
}
.howToGetHereSection__body p {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #211f1a;
  background-color: #fffcfa;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
.header-wrapper ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 24px;
}
.header-wrapper ul li {
  padding: 16px 12px;
}
.header-wrapper ul li a {
  text-decoration: none;
  color: #211f1a;
  font-size: 16px;
  font-weight: bold;
}
.header-wrapper .nav-booking {
  text-decoration: none;
  color: #211f1a;
  font-size: 16px;
  font-weight: bold;
  padding: 0 24px;
}

.accordion-item {
  padding: 24px 0 24px 0;
  border-bottom: 1px solid #211f1a;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-item.show {
  padding: 24px 0 24px 0;
  border-bottom: 1px solid #211f1a;
  color: #211f1a;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  cursor: pointer;
}
.accordion-title h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.accordion-content {
  font-size: 16px;
  line-height: 28px;
  width: 90%;
  max-height: 0;
  color: #211f1a;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-content.show {
  font-size: 16px;
  line-height: 28px;
  color: #211f1a;
  width: 90%;
  height: auto;
  margin-top: 12px;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.card {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 620px;
  border-radius: 12px;
  padding: 16px 0 38px 0;
  margin: 0 12px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 620px;
  border-radius: 12px;
}
.cardContent__title {
  margin: 8px 0 20px 0;
  font-size: 32px;
  font-weight: 500;
}
.cardContent__body {
  width: 80%;
}
.cardContent__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 95%;
  border-top: 1px solid black;
  position: relative;
}
.cardContent__img::after {
  width: 12px;
  height: 12px;
  background: red;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  content: "";
  inset: 0;
}

.cardLink__cta-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px 32px;
  display: inline-block;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.section-4-slider-container {
  overflow: hidden;
}

.section-4-slider {
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
  animation: 25s slide infinite linear;
}
.section-4-slider .slider-item {
  padding: 4px 16px;
  border-right: 1px solid #211f1a;
  display: flex;
  align-items: center;
}
.section-4-slider .slider-item img {
  padding-right: 8px;
}

.footer {
  background-color: #211f1a;
  width: 100%;
  height: 298px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  text-align: center;
}

.carousel {
  width: 100vw;
}

.carouselImageContainer {
  position: relative;
}
.carouselImageContainer .carouselImg {
  width: 100vw;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.carouselImageContainer .carouselImg::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(transparent, black);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #fffcfa;
  font-family: "Poppins", sans-serif;
}

.cta-btn {
  display: inline-block;
  text-decoration: none;
  color: #211f1a;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #211f1a;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 0.5s;
}
.cta-btn:hover {
  background-color: olive;
  color: white;
  transition: 0.5s;
}/*# sourceMappingURL=App.css.map */