// Pages & Components Style Sheets
@use "./pages/Home";
@use "./components/Header";
@use "./components/Accordion";
@use "./components/CardSlider";
@use "./components/InfiniteSlider";
@use "./components/Footer";
@use "./components/GridToCarousel";

// Abstracts
@use "./abstracts/colors";

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: colors.$bg-color;
  font-family: "Poppins", sans-serif;
}

.cta-btn {
  display: inline-block;
  text-decoration: none;
  color: colors.$black-theme;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid colors.$black-theme;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 0.5s;
  &:hover {
    background-color: olive;
    color: white;
    transition: 0.5s;
  }
}
