.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-home div .large-logo {
  margin: 20px 0;
}

.large-logo-wrapper {
  display: flex;
  justify-content: center;
}

.large-logo {
  max-width: 98%;
  padding: 0 12px;
}

.section-1 {
  border-top: 1px solid #211f1a;
  height: 1090px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-1 .section-1a {
  border-right: 1px solid #211f1a;
  width: 58%;
  display: flex;
  justify-content: flex-end;
}
.section-1 .section-1a .section-1a-wrapper {
  background-image: url(../Images/home-gradient.svg);
  background-size: cover;
  background-position: top right;
  border-radius: 0 64px 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section-1 .section-1a .section-1a-wrapper img {
  padding-right: 40px;
  max-width: 90%;
}
.section-1 .section-1b {
  width: 42%;
  display: flex;
  justify-content: flex-start;
}
.section-1 .section-1b .section-1b-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 60px;
}
.section-1 .section-1b .section-1b-wrapper .section-1b-text {
  width: 440px;
  text-align: center;
}
.section-1 .section-1b .section-1b-wrapper .section-1b-text h2 {
  margin: 0;
  font-weight: 400;
  font-size: 28px;
}
.section-1 .section-1b .section-1b-wrapper .section-1b-text p {
  margin: 32px 0 48px 0;
  font-size: 16px;
}

.section-2 {
  display: flex;
  width: 100%;
  height: 900px;
}
.section-2 .section-2a {
  width: 58%;
  border-right: 1px solid #211f1a;
}
.section-2 .section-2a .section-2a-wrapper {
  background-color: #94a689;
  height: 100%;
  width: 100%;
  padding: 134px 0 0 24px;
  display: flex;
  justify-content: flex-end;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy h2 {
  margin: 0;
  font-size: 52px;
  font-weight: 400;
  width: 70%;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy p {
  margin: 32px 0;
  font-size: 24px;
  width: 70%;
}
.section-2 .section-2a .section-2a-wrapper .section-2a-copy a {
  color: #211f1a;
  font-size: 14px;
}
.section-2 .section-2b {
  width: 612px;
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2 .section-2b .section-2b-wrapper {
  width: 540px;
  padding: 24px;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 206px;
}
.section-3 .section-3a {
  height: 576px;
  width: 100%;
  background-color: darkslategrey;
  display: flex;
}
.section-3 .section-3a .section-3a-left {
  width: 40%;
}
.section-3 .section-3a .section-3a-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-3 .section-3a .section-3a-right {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.section-3 .section-3a .section-3a-right .section-3a-34 {
  display: flex;
  width: 100%;
  height: 50%;
}
.section-3 .section-3a .section-3a-right .section-3a-34 div:nth-child(1) {
  width: 70%;
}
.section-3 .section-3a .section-3a-right .section-3a-34 div:nth-child(1) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-3 .section-3a .section-3a-right .section-3a-34 div:nth-child(2) {
  width: 30%;
}
.section-3 .section-3a .section-3a-right .section-3a-34 div:nth-child(2) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-3 .section-3a .section-3a-right .section-3a-45 {
  display: flex;
  width: 100%;
  height: 50%;
}
.section-3 .section-3a .section-3a-right .section-3a-45 div:nth-child(1) {
  width: 50%;
}
.section-3 .section-3a .section-3a-right .section-3a-45 div:nth-child(1) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-3 .section-3a .section-3a-right .section-3a-45 div:nth-child(2) {
  width: 50%;
}
.section-3 .section-3a .section-3a-right .section-3a-45 div:nth-child(2) img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-3 .section-3b {
  text-align: center;
  width: 70%;
}
.section-3 .section-3b h2 {
  font-size: 52px;
  font-weight: 400;
  margin-top: 62px;
}
.section-3 .section-3b p {
  font-size: 20px;
  margin: 32px 0;
}
.section-3 .section-3b a {
  margin-top: 74px;
  margin-bottom: 400px;
}

.section-4 {
  width: 100%;
}

.section-4a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 962px;
  background-color: #211f1a;
}
.section-4a .section-4a-top {
  display: flex;
  height: 50%;
}
.section-4a .section-4a-top div {
  width: 50%;
}
.section-4a .section-4a-top .s4a-top-1 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 0 0 148px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-top .s4a-top-1 p {
  width: 60%;
}
.section-4a .section-4a-top .s4a-top-1:hover {
  background: #e9f4e2;
  color: black;
  transition: 0.5s;
}
.section-4a .section-4a-top .s4a-top-2:hover {
  background: #788a6d;
  color: black;
  transition: 0.5s;
}
.section-4a .section-4a-top .s4a-top-2 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-top .s4a-top-2 p {
  width: 60%;
}
.section-4a .section-4a-bottom {
  display: flex;
  height: 50%;
}
.section-4a .section-4a-bottom div {
  width: 50%;
}
.section-4a .section-4a-bottom .s4a-bottom-1 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 0 148px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-bottom .s4a-bottom-1 p {
  width: 60%;
}
.section-4a .section-4a-bottom .s4a-bottom-2 {
  border: 1px #211f1a solid;
  background-color: #fffcfa;
  width: 100%;
  height: 100%;
  border-radius: 148px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #e9e6e4;
}
.section-4a .section-4a-bottom .s4a-bottom-2 p {
  width: 60%;
}
.section-4a .s4a-bottom-1:hover {
  background: #788a6d;
  color: black;
  transition: 1s;
}
.section-4a .s4a-bottom-2:hover {
  background: #e9f4e2;
  color: black;
  transition: 1s;
}

.section-5 {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #211f1a;
  padding-top: 280px;
  padding-bottom: 80px;
  color: #fffcfa;
}
.section-5 .section-5-wrapper {
  max-width: 1440px;
  display: flex;
}
.section-5 .section-5-wrapper .section-5a {
  display: flex;
  flex-direction: column;
  width: 36%;
  padding: 12px;
}
.section-5 .section-5-wrapper .section-5a h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fffcfa;
}
.section-5 .section-5-wrapper .section-5a p {
  margin-top: 0;
  width: 90%;
}
.section-5 .section-5-wrapper .section-5a a {
  color: #fffcfa;
  font-size: 12px;
  margin-top: 20px;
}
.section-5 .section-5-wrapper .section-5b {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 34%;
  padding: 12px;
}
.section-5 .section-5-wrapper .section-5b h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fffcfa;
}
.section-5 .section-5-wrapper .section-5b p {
  margin-top: 0;
  width: 90%;
}
.section-5 .section-5-wrapper .section-5b a {
  color: #fffcfa;
  font-size: 12px;
  margin-top: 20px;
}
.section-5 .section-5-wrapper .section-5c {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 12px;
}
.section-5 .section-5-wrapper .section-5c h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #fffcfa;
}
.section-5 .section-5-wrapper .section-5c p {
  margin-top: 0;
  width: 90%;
}
.section-5 .section-5-wrapper .section-5c a {
  color: #fffcfa;
  font-size: 12px;
  margin-top: 20px;
}

.section-6 {
  margin-top: 176px;
  border-top: 1px solid #211f1a;
  width: 100%;
  text-align: center;
}

.section-6-wrapper {
  margin: 164px 0 240px;
}

.section-7 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 114px;
}
.section-7 .section-7a {
  width: 60%;
}
.section-7 .section-7a h1 {
  font-size: 52px;
  font-weight: 400;
  margin-top: 0;
}
.section-7 .section-7a h3 {
  font-size: 20px;
  margin: 32px 0 8px;
}
.section-7 .section-7a p {
  margin: 0;
}
.section-7 .google-map-container {
  margin: 56px 0 116px;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #211f1a;
  background-color: #fffcfa;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
.header-wrapper ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 24px;
}
.header-wrapper ul li {
  padding: 16px 12px;
}
.header-wrapper ul li a {
  text-decoration: none;
  color: #211f1a;
  font-size: 16px;
  font-weight: bold;
}
.header-wrapper .nav-booking {
  text-decoration: none;
  color: #211f1a;
  font-size: 16px;
  font-weight: bold;
  padding: 0 24px;
}

.accordion-wrapper {
  width: 612px;
  padding-left: 24px;
}

.accordion-item {
  padding: 24px 0 24px 36px;
  border-bottom: 1px solid #211f1a;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-item.show {
  padding: 24px 0 24px 36px;
  border-bottom: 1px solid #211f1a;
  color: #211f1a;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  cursor: pointer;
}
.accordion-title h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.accordion-content {
  font-size: 16px;
  line-height: 28px;
  width: 90%;
  max-height: 0;
  color: #211f1a;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.accordion-content.show {
  font-size: 16px;
  line-height: 28px;
  color: #211f1a;
  width: 90%;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.slider-wrapper {
  display: flex;
  width: 500%;
  transition: transform 0.5s ease;
}

.slider-card {
  flex: 1 0 20%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.section-4-slider-container {
  overflow: hidden;
}

.section-4-slider {
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
  animation: 15s slide infinite linear;
}
.section-4-slider .slider-item {
  padding: 4px 16px;
  border-right: 1px solid #211f1a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fffcfa;
  font-family: "Poppins", sans-serif;
}

.cta-btn {
  display: inline-block;
  text-decoration: none;
  color: #211f1a;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #211f1a;
  padding: 16px 32px;
  border-radius: 8px;
  transition: 0.5s;
}
.cta-btn:hover {
  background-color: olive;
  color: white;
  transition: 0.5s;
}/*# sourceMappingURL=App.css.map */